@*@model IEnumerable<MyAudioApp.Models.MyAudioTB>*@
@model PagedList.IPagedList<MyAudioApp.Models.MyAudioTB>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    @Html.ActionLink("Upload New", "Create")
    @using (Html.BeginForm("Index", "MyAudio", FormMethod.Get))
    {
    <p>
       Search By Song: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value=" Search" />
    </p>
     }


<table>
 
   <tr>
        <th>
          @Html.ActionLink("AlbumName", "Index", new { sortOrder = ViewBag.AlbumNameSortParm, currentFilter=ViewBag.CurrentFilter })  
        </th>
        <th>
            
           @Html.ActionLink("Song", "Index", new { sortOrder = ViewBag.SongSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            AlbumBy
        </th>
        <th>
            Label
        </th>
        <th>
           Filename
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filename)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Play", "Player", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
