@model MyAudioApp.Models.MyAudioTB

@{
    ViewBag.Title = "Player";
}

<h2>Player</h2>

<fieldset>
    <legend>MyAudioTB</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AlbumName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Song)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Song)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AlbumBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Filename)
    </div>
    <div class="display-field">
       @Html.DisplayFor(model => model.Filename)
    </div>
    <audio controls>
        <source src= "@Url.Content("~/Audio/" + Model.Filename)" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
   
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
